body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #575757;
}

.text {
  flex-basis: 90%;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  background-color: #fff;
}

.text:focus {
  outline: none;
}

ul {
  padding: 10px;
  padding-bottom: 0;
}

li {
  font-size: 1rem;
  border-bottom: 1px solid rgb(194, 193, 193);
  color: black;
  height: 35px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px;
}

li img {
  height: 1rem;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.header {
  margin: 2rem;
  text-align: center;
}

.container {
  width: 30rem;
  margin: 0 auto;
  margin-top: 8em;
  box-shadow: -2px 8px 22px 5px rgba(0, 0, 0, 0.56);
}

form {
  justify-content: space-between;
  width: 100%;
}

form #input {
  border: none;
  width: 90%;
  font-size: 1.2rem;
  font-style: italic;
}

form #input:focus {
  outline: none;
}

form img {
  width: 1.5rem;
  height: 1.5rem;
}

#open {
  cursor: all-scroll;
}

.clear {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(236, 236, 236);
  color: #575757;
  align-items: center;
  justify-content: center;
}

.clear p {
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.clear p:hover {
  text-shadow: 1px 1px 1px rgb(126, 126, 126);
  border-bottom: 1px solid #000;
}

.line-through {
  text-decoration: line-through;
  color: #ccc;
}

#list {
  padding: 0 10px 10px 10px;
  margin: 0;
}

#list .trash {
  cursor: pointer;
}

.d-none {
  display: none !important;
}
